{
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		// Potential errors
		"comma-dangle": [2, "never"],
		"no-cond-assign": 1,
		"no-console": 0,
		"no-constant-condition": 1,
		"no-control-regex": 1,
		"no-debugger": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty-character-class": 2,
		"no-empty": 1,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 1,
		"no-extra-parens": 0,
		"no-extra-semi": 1,
		"no-func-assign": 2,
		"no-inner-declarations": 2,
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-negated-in-lhs": 2,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-sparse-arrays": 2,
		"no-unexpected-multiline": 0,
		"no-unreachable": 1,
		"use-isnan": 2,
		"valid-jsdoc": 1,
		"valid-typeof": 2,
		
		// Best practices
		"block-scoped-var": 2,
		"curly": [2, "all"],
		"complexity": [2, 10],
		"dot-location": [1, "property"],
		"eqeqeq": 2,
		"guard-for-in": 2,
		"no-eval": 2,
		"no-extra-bind": 1,
		"no-floating-decimal": 1,
		"no-invalid-this": 2,
		"no-iterator": 2,
		"no-labels": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-multi-spaces": 1,
		"no-multi-str": 2,
		"no-native-reassign": 2,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-new": 2,
		"no-octal-escape": 2,
		"no-octal": 2,
		"no-param-reassign": 1,
		"no-process-env": 1,
		"no-proto": 2,
		"no-redeclare": 2,
		"no-return-assign": 2,
		"no-self-compare": 2,
		"no-sequences": 1,
		"no-throw-literal": 2,
		"no-unused-expressions": 1,
		"no-useless-call": 2,
		"no-void": 2,
		"no-warning-comments": 1,
		"no-with": 2,
		"radix": 2,
		"wrap-iife": [2, "inside"],
		
		// Variable behavior
		"no-delete-var": 2,
		"no-shadow-restricted-names": 2,
		"no-shadow": 2,
		"no-unused-vars": 1,
		"no-use-before-define": 2,
		
		// node.js
		"no-mixed-requires": 2,
		"no-new-require": 2,
		"no-path-concat": 2,
		"no-process-exit": 2,
		
		// Style
		"array-bracket-spacing": [1, "never"],
		"block-spacing": [1, "always"],
		"brace-style": [2, "1tbs"],
		"camelcase": 1,
		"comma-spacing": [1, { "before": false, "after": true }],
		"comma-style": [1, "last"],
		"computed-property-spacing": [2, "never"],
		"consistent-this": [1, "self"],
		"eol-last": 1,
		"indent": [1, "tab"],
		"key-spacing": [1, { "beforeColon": false, "afterColon": true }],
		"lines-around-comment": [1, { "beforeBlockComment": true, "afterBlockComment": false, "beforeLineComment": true, "afterLineComment": false, "allowBlockStart": true, "allowBlockEnd": true }],
		"new-parens": 2,
		"no-array-constructor": 2,
		"no-lonely-if": 1,
		"no-mixed-spaces-and-tabs": [ 2, "smart-tabs" ],
		"no-multiple-empty-lines": 2,
		"no-nested-ternary": 1,
		"no-spaced-func": 2,
		"no-trailing-spaces": 1,
		"no-unneeded-ternary": 2,
		"object-curly-spacing": [1, "always"],
		"operator-linebreak": [1, "after"],
		"quotes": [1, "double"],
		"semi-spacing": [1, { "before": false, "after": true }],
		"semi": 2,
		"space-before-blocks": [1, "always"],
		"space-before-function-paren": [1, "never"],
		"space-in-parens": [1, "never"],
		"space-infix-ops": 1,
		"space-return-throw-case": 1,
		"space-unary-ops": [1, { "words": true, "nonwords": false }],
		"spaced-comment": [1, "always"],
		
		// ES2015
		"arrow-parens": [2, "as-needed"],
		"arrow-spacing": [1, { "before": true, "after": true }],
		"constructor-super": 2,
		"generator-star-spacing": [1, { "before": false, "after": true }],
		"no-class-assign": 2,
		"no-const-assign": 2,
		"no-dupe-class-members": 2,
		"no-this-before-super": 2,
		"no-var": 1,
		"prefer-const": 1,
		"prefer-spread": 1,
		"prefer-template": 1,
		"require-yield": 2
	}
}